#donation-banner {
  width: 800px;
  height: 90px;
  background: url('banner.png');
  text-align: center;
  padding-top: 10px;
}
#donation-graph {
  height: 12px;
  width: 480px;
  background: #fff;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3px;
  border: 1px solid #999;
  border-radius: 2px;
}
#donation-bar {
  background: #999;
  height: 12px;
  width: 0;
  -webkit-transition: 0.6s ease-in-out width;
  -moz-transition: 0.6s ease-in-out width;
  -ms-transition: 0.6s ease-in-out width;
  -o-transition: 0.6s ease-in-out width;
  transition: 0.6s ease-in-out width;
  background-image: -moz-linear-gradient(top, #ccc, #999);
  background-image: -ms-linear-gradient(top, #ccc, #999);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ccc), to(#999));
  background-image: -webkit-linear-gradient(top, #ccc, #999);
  background-image: -o-linear-gradient(top, #ccc, #999);
  background-image: linear-gradient(top, #ccc, #999);
  background-repeat: no-repeat;
}
#donation-bar-txt {
  width: 480px;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.95em;
  text-align: left;
}
#donation-goal {
  float: right;
}
#donation-text {
  border-top: 1px solid #bbb;
  margin: 10px;
  margin-left: 7px;
  margin-right: 15px;
  padding: 10px;
  font-size: 1.2em;
  text-shadow: 0px 1px 0px #fafafa;
}
#toplinks {
  top: 215px;
}
